html {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 181, 181);
}

body {
    font-size:17px;
    serif: Times New Roman;
}

.lefimg {
    width: 30rem;
    height: 21rem;
    float: left;
    margin: 7px 10px 0 0;
}

.rightimg {
    width: 30em;
    height: 21em;
    float: right;
    margin: 7px 0 0 10px;
}

h3 {
    box-sizing: border-box;
    margin-left: 5em;
}

h2 {
    box-sizing: border-box;
    text-align: center;
}

div {
    margin: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #ff00ff;
}